@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

/* Main CSS configuration here */

:root {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  background-color: #2b2b2b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
