{
  "extends": "eslint:recommended",
  "rules": {
    "no-undef": "error",
    "semi": "error",
    "no-extra-semi": "error",
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "no-console": "warn",
    "max-len": ["error", { "code": 80 }],
    "camelcase": "error",
    "no-trailing-spaces": "error"
  }
}
