.authWrapper {
  display: flex;

  div {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }

  input {
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    background-color: transparent;
  }

  input:focus {
    outline: none;
  }
}
