$main-white: #f5f5f5;
$main-red: #ff6961;
$main-green: #77dd77;
$main-blue: #aec6cf;
$main-gray: #2b2b2b;
$light-gray: #3a3a3a;

.authWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
    color: $main-white;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    color: $main-white;
  }

  input {
    color: $main-white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 1px solid;
    border-color: $main-white;
    background-color: $main-gray;
  }

  input::placeholder {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    color: $main-white;
  }

  input:focus {
    outline: none;
  }

  .hovno:-internal-autofill-selected {
    background-color: transparent !important;
  }

  .filled_button {
    background-color: #aec6cf;
    color: #2b2b2b;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
  }

  .filled_button:focus {
    outline: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .auth_container {
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border: 1px solid $light-gray;
    border-radius: 20px;
  }

  .auth_link {
    text-decoration: underline;
    color: $main-blue;
  }
}
