$main-white: #e0e0e0;
$dark-white: #c0c0c0;
$main-red: #ff6961;
$main-green: #77dd77;
$main-blue: #87cefa;
$main-gray: #2b2b2b;
$light-gray: #3a3a3a;
$lighter-gray: #666666;
$dark-gray: #181818;

.authWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth_container {
    min-width: 450px;
    max-width: 500px;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $dark-gray;
    border-radius: 20px;
    background-color: $light-gray;
  }

  .input_container {
    width: 100%;
    margin-bottom: 20px;
  }

  .component_container {
    width: 100%;
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    color: $main-white;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: $dark-white;
  }

  input {
    width: 100%;
    color: $main-white;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid;
    border-color: $lighter-gray;
    background-color: transparent !important;
    caret-color: $main-blue;
    transition: border-color 0.2s ease;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $light-gray inset !important;
    -webkit-text-fill-color: $main-white !important;
  }

  input::placeholder {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
    color: $main-white;
  }

  input:focus {
    outline: none;
    border-color: $main-blue;
    background-color: transparent !important;
  }

  input.autocomplete-selected {
    background-color: transparent;
  }

  input[type="password"] {
    font-weight: 700;
  }

  input.is_error {
    border-color: $main-red;
  }

  input.is_valid {
    border-color: $main-green;
  }

  label {
    font-size: 15px;
    color: $main-white;
    font-weight: 700;
    display: flex;
    margin-bottom: 0.6rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .star {
    color: $main-blue;
  }

  .filled_button {
    width: 100%;
    background-color: transparent;
    color: $main-blue;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 1px solid $main-blue;
    border-radius: 100px;
  }

  .filled_button:hover {
    background-color: $main-blue;
    color: $main-gray;
    transition: all 0.25s;
  }

  .filled_button:disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.15s;
  }

  .filled_button:focus {
    outline: none;
  }

  .auth_link {
    text-decoration: underline;
    color: $main-blue;
  }

  #username-tooltip,
  #email-tooltip,
  #password-tooltip,
  #confirmedPassword-tooltip,
  #button-tooltip {
    font-size: 15px;
    color: $main-white;
    max-width: 20rem;
  }
}
